## the dataset i use is ==> https://www.kaggle.com/datasets/mdsazzatsardar/amazonsalesreport

In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as se

## loading the data :

In [54]:
# seeing the data 
df = pd.read_csv('./data/Amazon_Sale_Report.csv', index_col=0)
df.head()

C:\Users\Seif.Ashraf.DEV02\AppData\Local\Temp\ipykernel_24300\966938920.py:2: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/Amazon_Sale_Report.csv', index_col=0)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
index,,,,,,,,,,,,,,,,,,,,,
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

## understand the data :

In [55]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
index,,,,,,,,,,,,,,,,,,,,,
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128975 non-null  object
 1   Date                128975 non-null  object
 2   Status              128975 non-null  object
 3   Fulfilment          128975 non-null  object
 4   Sales Channel       128975 non-null  object
 5   ship-service-level  128975 non-null  object
 6   Style               128975 non-null  object
 7   SKU                 128975 non-null  object
 8   Category            128975 non-null  object
 9   Size                128975 non-null  object
 10  ASIN                128975 non-null  object
 11  Courier Status      122103 non-null  object
 12  Qty                 128975 non-null  int64
 13  currency            121180 non-null  object
 14  Amount              121180 non-null  float64
 15  ship-city           128942 non-null  object
 16  ship-state          128942 non-null  object
 17  ship-postal-code    128942 non-null  float64
 18  ship-country        128942 non-null  object
 19  promotion-ids       79822 non-null   object
 20  B2B                 128975 non-null  bool
 21  fulfilled-by        39277 non-null   object
 22  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(1), object(19)
memory usage: 22.8+ MB

In [57]:
df.describe().round(2)

             Qty     Amount  ship-postal-code
count  128975.00  121180.00         128942.00
mean        0.90     648.56         463966.24
std         0.31     281.21         191476.76
min         0.00       0.00         110001.00
25%         1.00     449.00         382421.00
50%         1.00     605.00         500033.00
75%         1.00     788.00         600024.00
max        15.00    5584.00         989898.00

In [58]:
df.describe(include='O')

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,currency,ship-city,ship-state,ship-country,promotion-ids,fulfilled-by,Unnamed: 22
count,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,128975,122103,121180,128942,128942,128942,79822,39277,79925
unique,120378,91,13,2,2,2,1377,7195,9,11,7190,3,1,8955,69,1,5787,1,1
top,171-5057375-2831560,05-03-22,Shipped,Amazon,Amazon.in,Expedited,JNE3797,JNE3797-KR-L,Set,M,B09SDXFFQ1,Shipped,INR,BENGALURU,MAHARASHTRA,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,Easy Ship,False
freq,12,2085,77804,89698,128851,88615,4224,773,50284,22711,773,109487,121180,11217,22260,128942,46100,39277,79925

In [59]:
round(df.isnull().mean()*100,3)

Order ID               0.000
Date                   0.000
Status                 0.000
Fulfilment             0.000
Sales Channel          0.000
ship-service-level     0.000
Style                  0.000
SKU                    0.000
Category               0.000
Size                   0.000
ASIN                   0.000
Courier Status         5.328
Qty                    0.000
currency               6.044
Amount                 6.044
ship-city              0.026
ship-state             0.026
ship-postal-code       0.026
ship-country           0.026
promotion-ids         38.110
B2B                    0.000
fulfilled-by          69.547
Unnamed: 22           38.031
dtype: float64

# DATA CLEANING :-

## AFTER REVEWING DB COLUMNS I FOUND THAT :-


#### 01 - the columns names needs to cleand to be lower case and to remove unwanted spaces. 
#### 02 - there is 33 out of 128975 rows where the address is null so i will drop it 
#### 03 - the unnamed:_22 and fulfilled_by did not give any usefull info so i will drop them.
#### 04 - the date column type needs to change into ===> datetime64
#### 05 - the ship-postal-code type needs to change into ===> int
#### 06 - the 'qty' column need to be rename into ==> 'Quantity'
#### 07 - Some states and cities have the same meaning but are written in different styles
#### 08 - the currency should be INR since this data from india and also i did not found any other currency
#### 09 - Missing values in the promotion-ids column will be replaced with "No Promotion"
#### 10 - Fill "Courier Status" with "Cancelled" when Status is "Cancelled"
#### 11 - handel the Null Amount Values based on style's median unit price and quantity

In [60]:
df.columns

Index(['Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [61]:
# 01 - the columns names needs to cleand to be lower case and to remove unwanted spaces. 
df.columns = df.columns.str.strip()
df.columns = df.columns.str.lower().str.replace(' ', '_')
df.columns = df.columns.str.lower().str.replace('-', '_')

df.columns

Index(['order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship_service_level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'qty', 'currency', 'amount', 'ship_city',
       'ship_state', 'ship_postal_code', 'ship_country', 'promotion_ids',
       'b2b', 'fulfilled_by', 'unnamed:_22'],
      dtype='object')

In [62]:
# THIS IS THE DATE CATEGORICAL COLUMN
cat_cols = df.select_dtypes(include= 'object').columns
cat_cols

Index(['order_id', 'date', 'status', 'fulfilment', 'sales_channel',
       'ship_service_level', 'style', 'sku', 'category', 'size', 'asin',
       'courier_status', 'currency', 'ship_city', 'ship_state', 'ship_country',
       'promotion_ids', 'fulfilled_by', 'unnamed:_22'],
      dtype='object')

In [63]:
for col in cat_cols:
    print(col)
    print(df[col].nunique())
    print(df[col].unique())
    print('\n', '*' * 100, '\n')

order_id
120378
['405-8078784-5731545' '171-9198151-1101146' '404-0687676-7273146' ...
 '407-9547469-3152358' '402-6184140-0545956' '408-7436540-8728312']

 ****************************************************************************************************

date
91
['04-30-22' '04-29-22' '04-28-22' '04-27-22' '04-26-22' '04-25-22'
 '04-24-22' '04-23-22' '04-22-22' '04-21-22' '04-20-22' '04-19-22'
 '04-18-22' '04-17-22' '04-16-22' '04-15-22' '04-14-22' '04-13-22'
 '04-12-22' '04-11-22' '04-10-22' '04-09-22' '04-08-22' '04-07-22'
 '04-06-22' '04-05-22' '04-04-22' '04-03-22' '04-02-22' '04-01-22'
 '03-31-22' '05-31-22' '05-30-22' '05-29-22' '05-28-22' '05-27-22'
 '05-26-22' '05-25-22' '05-24-22' '05-23-22' '05-22-22' '05-21-22'
 '05-20-22' '05-19-22' '05-18-22' '05-17-22' '05-16-22' '05-15-22'
 '05-14-22' '05-13-22' '05-12-22' '05-11-22' '05-10-22' '05-09-22'
 '05-08-22' '05-07-22' '05-06-22' '05-05-22' '05-04-22' '05-03-22'
 '05-02-22' '05-01-22' '06-29-22' '06-28-22' '06-27-22' '06-26-22'
 '06-25-22' '06-24-22' '06-23-22' '06-22-22' '06-21-22' '06-20-22'
 '06-19-22' '06-18-22' '06-17-22' '06-16-22' '06-15-22' '06-14-22'
 '06-13-22' '06-12-22' '06-11-22' '06-10-22' '06-09-22' '06-08-22'
 '06-07-22' '06-06-22' '06-05-22' '06-04-22' '06-03-22' '06-02-22'
 '06-01-22']

 ****************************************************************************************************

status
13
['Cancelled' 'Shipped - Delivered to Buyer' 'Shipped'
 'Shipped - Returned to Seller' 'Shipped - Rejected by Buyer'
 'Shipped - Lost in Transit' 'Shipped - Out for Delivery'
 'Shipped - Returning to Seller' 'Shipped - Picked Up' 'Pending'
 'Pending - Waiting for Pick Up' 'Shipped - Damaged' 'Shipping']

 ****************************************************************************************************

fulfilment
2
['Merchant' 'Amazon']

 ****************************************************************************************************

sales_channel
2
['Amazon.in' 'Non-Amazon']

 ****************************************************************************************************

ship_service_level
2
['Standard' 'Expedited']

 ****************************************************************************************************

style
1377
['SET389' 'JNE3781' 'JNE3371' ... 'SET066' 'J0286' 'SET045']

 ****************************************************************************************************

sku
7195
['SET389-KR-NP-S' 'JNE3781-KR-XXXL' 'JNE3371-KR-XL' ... 'JNE3370-KR-S'
 'JNE3678-TU-XXL' 'SET045-KR-NP-M']

 ****************************************************************************************************

category
9
['Set' 'kurta' 'Western Dress' 'Top' 'Ethnic Dress' 'Bottom' 'Saree'
 'Blouse' 'Dupatta']

 ****************************************************************************************************

size
11
['S' '3XL' 'XL' 'L' 'XXL' 'XS' '6XL' 'M' '4XL' '5XL' 'Free']

 ****************************************************************************************************

asin
7190
['B09KXVBD7Z' 'B09K3WFS32' 'B07WV4JV4D' ... 'B081X6MVKK' 'B0943HSR64'
 'B07N81TFNY']

 ****************************************************************************************************

courier_status
3
[nan 'Shipped' 'Cancelled' 'Unshipped']

 ****************************************************************************************************

currency
1
['INR' nan]

 ****************************************************************************************************

ship_city
8955
['MUMBAI' 'BENGALURU' 'NAVI MUMBAI' ... 'GULABPURA, Distt BHILWARA'
 'Prayagraj (ALLAHABAD)' 'Halol']

 ****************************************************************************************************

ship_state
69
['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH'
 'CHANDIGARH' 'TELANGANA' 'ANDHRA PRADESH' 'RAJASTHAN' 'DELHI' 'HARYANA'
 'ASSAM' 'JHARKHAND' 'CHHATTISGARH' 'ODISHA' 'KERALA' 'MADHYA PRADESH'
 'WEST BENGAL' 'NAGALAND' 'Gujarat' 'UTTARAKHAND' 'BIHAR'
 'JAMMU & KASHMIR' 'PUNJAB' 'HIMACHAL PRADESH' 'ARUNACHAL PRADESH'
 'MANIPUR' 'Goa' 'MEGHALAYA' 'GOA' 'TRIPURA' 'LADAKH' 'DADRA AND NAGAR'
 'SIKKIM' 'Delhi' nan 'ANDAMAN & NICOBAR ' 'Punjab' 'Rajshthan' 'Manipur'
 'rajasthan' 'Odisha' 'NL' 'Bihar' 'MIZORAM' 'punjab' 'New Delhi'
 'Rajasthan' 'Punjab/Mohali/Zirakpur' 'Puducherry' 'delhi' 'RJ'
 'Chandigarh' 'orissa' 'LAKSHADWEEP' 'goa' 'PB' 'APO' 'Arunachal Pradesh'
 'AR' 'Pondicherry' 'Sikkim' 'Arunachal pradesh' 'Nagaland' 'bihar'
 'Mizoram' 'rajsthan' 'Orissa' 'Rajsthan' 'Meghalaya']

 ****************************************************************************************************

ship_country
1
['IN' nan]

 ****************************************************************************************************

promotion_ids
5787
[nan
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-XXRCW6NZEPZI4,Amazon PLCC Free-Financing Universal Merchant AAT-CXNSLNBROFDW4,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-WSJLDN3X7KEMO,Amazon PLCC Free-Financing Universal Merchant AAT-VL6FGQVGQVXUS,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-ZYL5UPUNW6T62,Amazon PLCC Free-Financing Universal Merchant AAT-XVPICCHRWDCAI,Amazon PLCC Free-Financing Universal Merchant AAT-ETXQ3XXWMRXBG,Amazon PLCC Free-Financing Universal Merchant AAT-7X3XCTYG64VBE,Amazon PLCC Free-Financing Universal Merchant AAT-7CHGD3WTS3MHM,Amazon PLCC Free-Financing Universal Merchant AAT-26ZDKNME27X42,Amazon PLCC Free-Financing Universal Merchant AAT-4ZF5KN6E4LJK4,Amazon PLCC Free-Financing Universal Merchant AAT-7RCXIKUAX7DDY,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4'
 'IN Core Free Shipping 2015/04/08 23-48-5-108' ...
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-5ZEB2OGNZ32MC,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-TNYBHEAO7HOHO,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant AAT-QMFZ3M7T5NPDS,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292'
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-SL3Y2YRMAUNFC,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-5ZEB2OGNZ32MC,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-5SHH3G55USK5C,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4'
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-EWAPBB6BDRGM6,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-NT3ZJJGQ3JK3Q,Amazon PLCC Free-Financing Universal Merchant AAT-5SHH3G55USK5C,Amazon PLCC Free-Financing Universal Merchant AAT-TNYBHEAO7HOHO,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4,Amazon PLCC Free-Financing Universal Merchant AAT-QMFZ3M7T5NPDS,Amazon PLCC Free-Financing Universal Merchant #MP-pmilan-1601980554292']

 ****************************************************************************************************

fulfilled_by
1
['Easy Ship' nan]

 ****************************************************************************************************

unnamed:_22
1
[nan False]

 ****************************************************************************************************

In [64]:
with open('cat_cols.txt', 'w') as f:

    for col in cat_cols:
        f.write(f"{col}\n")
        f.write(f"{df[col].nunique()}\n")
        f.write(f"{df[col].unique()}\n")
        f.write(f"{'*' * 100}\n")

In [65]:
# THIS IS THE DATE NUMIRECAL COLUMN
num_cols = df.select_dtypes(include= 'number').columns
num_cols

Index(['qty', 'amount', 'ship_postal_code'], dtype='object')

In [66]:
# this is the number of the rows i dont know its address id : 33
# df[df['ship_city'].isnull() & df['ship_state'].isnull() & df['ship_postal_code'].isnull() & df['ship_country'].isnull()].shape[0]

# the precentage of the rows that have address : 99.97441245570641
# (df.dropna(subset= ['ship_city', 'ship_state', 'ship_postal_code', 'ship_country']).shape[0] / df.shape[0]) * 100

print('the number of the rows i dont know its address id :', df[df['ship_city'].isnull() & df['ship_state'].isnull() & df['ship_postal_code'].isnull() & df['ship_country'].isnull()].shape[0])
print('the precentage of the rows that have address :', (df.dropna(subset= ['ship_city', 'ship_state', 'ship_postal_code', 'ship_country']).shape[0] / df.shape[0]) * 100)

the number of the rows i dont know its address id : 33
the precentage of the rows that have address : 99.97441364605544

In [ ]:
# 02 - there is 33 out of 128975 rows where the address is null so i will drop it 

df.dropna(subset= ['ship_city', 'ship_state', 'ship_postal_code', 'ship_country'], inplace=True)
df.reset_index(drop=True, inplace=True)

In [68]:
# 03 - the unnamed:_22 and fulfilled_by did not give any usefull info so i will drop them.
df.drop(columns=['unnamed:_22', 'fulfilled_by'], inplace=True)

In [69]:
# checking the duplicated values
print('the number of duplicated values:', df.duplicated().sum())

the number of duplicated values: 6

In [70]:
# drop hte duplicated values
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

In [71]:
# checking the null values again
df.isnull().mean()*100

order_id               0.000000
date                   0.000000
status                 0.000000
fulfilment             0.000000
sales_channel          0.000000
ship_service_level     0.000000
style                  0.000000
sku                    0.000000
category               0.000000
size                   0.000000
asin                   0.000000
courier_status         5.327449
qty                    0.000000
currency               6.041757
amount                 6.041757
ship_city              0.000000
ship_state             0.000000
ship_postal_code       0.000000
ship_country           0.000000
promotion_ids         38.113483
b2b                    0.000000
dtype: float64

In [72]:
print('number of rows:', df.shape[0])

number of rows: 128936

In [73]:
# 04 - the date column type needs to change into ===> datetime64
df.date = pd.to_datetime(df.date)
df.date

C:\Users\Seif.Ashraf.DEV02\AppData\Local\Temp\ipykernel_24300\945229697.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.date = pd.to_datetime(df.date)

0        2022-04-30
1        2022-04-30
2        2022-04-30
3        2022-04-30
4        2022-04-30
            ...
128931   2022-05-31
128932   2022-05-31
128933   2022-05-31
128934   2022-05-31
128935   2022-05-31
Name: date, Length: 128936, dtype: datetime64[ns]

In [75]:
# 05 - the ship-postal-code type needs to change into ===> int
df['ship_postal_code']=df['ship_postal_code'].astype('int')

In [76]:
# 06 - the 'qty' column need to be rename into ==> 'Quantity'
df.rename(columns={'qty': 'Quantity'}, inplace=True)

In [77]:
# checking the data types and names ensure that the changes are applied
df.dtypes

order_id                      object
date                  datetime64[ns]
status                        object
fulfilment                    object
sales_channel                 object
ship_service_level            object
style                         object
sku                           object
category                      object
size                          object
asin                          object
courier_status                object
Quantity                       int64
currency                      object
amount                       float64
ship_city                     object
ship_state                    object
ship_postal_code               int64
ship_country                  object
promotion_ids                 object
b2b                             bool
dtype: object

In [78]:
# checking the number of the unique values in the state and city columns
print('the number of the states:', df['ship_state'].nunique())
print('the number of the cities:', df['ship_city'].nunique())

the number of the states: 69
the number of the cities: 8955

In [79]:
# 07 - Some states and cities have the same meaning but are written in different styles
df['ship_state'] = df['ship_state'].str.lower().str.strip()
df['ship_city'] = df['ship_city'].str.lower().str.strip()

In [ ]:
# after applying lower() and strip() i reduce the number of ship_state from 69 into 47 but i still have several duplicates and misspellings
print(df['ship_state'].nunique())
print(df['ship_state'].unique())

47
['maharashtra' 'karnataka' 'puducherry' 'tamil nadu' 'uttar pradesh'
 'chandigarh' 'telangana' 'andhra pradesh' 'rajasthan' 'delhi' 'haryana'
 'assam' 'jharkhand' 'chhattisgarh' 'odisha' 'kerala' 'madhya pradesh'
 'west bengal' 'nagaland' 'gujarat' 'uttarakhand' 'bihar'
 'jammu & kashmir' 'punjab' 'himachal pradesh' 'arunachal pradesh'
 'manipur' 'goa' 'meghalaya' 'tripura' 'ladakh' 'dadra and nagar' 'sikkim'
 'andaman & nicobar' 'rajshthan' 'nl' 'mizoram' 'new delhi'
 'punjab/mohali/zirakpur' 'rj' 'orissa' 'lakshadweep' 'pb' 'apo' 'ar'
 'pondicherry' 'rajsthan']

In [86]:
# Create a comprehensive mapping for all state variations
state_mapping = {
    # Delhi variations
    'delhi': 'delhi',
    'new delhi': 'delhi',
    
    # Rajasthan variations
    'rajasthan': 'rajasthan',
    'rajshthan': 'rajasthan',
    'rajsthan': 'rajasthan',
    'rj': 'rajasthan',
    
    # Punjab variations
    'punjab': 'punjab',
    'punjab/mohali/zirakpur': 'punjab',
    'pb': 'punjab',
    
    # Puducherry variations
    'puducherry': 'puducherry',
    'pondicherry': 'puducherry',
    
    # Odisha variations (Orissa is the old name)
    'odisha': 'odisha',
    'orissa': 'odisha',
    
    # Arunachal Pradesh variations
    'arunachal pradesh': 'arunachal pradesh',
    'ar': 'arunachal pradesh',
    
    # Other states (keep as is)
    'maharashtra': 'maharashtra',
    'karnataka': 'karnataka',
    'tamil nadu': 'tamil nadu',
    'uttar pradesh': 'uttar pradesh',
    'chandigarh': 'chandigarh',
    'telangana': 'telangana',
    'andhra pradesh': 'andhra pradesh',
    'haryana': 'haryana',
    'assam': 'assam',
    'jharkhand': 'jharkhand',
    'chhattisgarh': 'chhattisgarh',
    'kerala': 'kerala',
    'madhya pradesh': 'madhya pradesh',
    'west bengal': 'west bengal',
    'nagaland': 'nagaland',
    'gujarat': 'gujarat',
    'uttarakhand': 'uttarakhand',
    'bihar': 'bihar',
    'jammu & kashmir': 'jammu & kashmir',
    'himachal pradesh': 'himachal pradesh',
    'manipur': 'manipur',
    'goa': 'goa',
    'meghalaya': 'meghalaya',
    'tripura': 'tripura',
    'ladakh': 'ladakh',
    'dadra and nagar': 'dadra and nagar haveli',
    'sikkim': 'sikkim',
    'andaman & nicobar': 'andaman & nicobar islands',
    'mizoram': 'mizoram',
    'lakshadweep': 'lakshadweep',
    
    # Special codes (not actual states)
    'apo': 'apo',  # Army Post Office
    'nl': 'nl'     # Unclear - might be a code or error
}

# Apply the mapping
df['ship_state'] = df['ship_state'].replace(state_mapping)

# Check the results
print('Number of states after mapping:', df['ship_state'].nunique())
print('Unique states after mapping:\n', df['ship_state'].unique())

Number of states after mapping: 38
Unique states after mapping:
 ['maharashtra' 'karnataka' 'puducherry' 'tamil nadu' 'uttar pradesh'
 'chandigarh' 'telangana' 'andhra pradesh' 'rajasthan' 'delhi' 'haryana'
 'assam' 'jharkhand' 'chhattisgarh' 'odisha' 'kerala' 'madhya pradesh'
 'west bengal' 'nagaland' 'gujarat' 'uttarakhand' 'bihar'
 'jammu & kashmir' 'punjab' 'himachal pradesh' 'arunachal pradesh'
 'manipur' 'goa' 'meghalaya' 'tripura' 'ladakh' 'dadra and nagar haveli'
 'sikkim' 'andaman & nicobar islands' 'nl' 'mizoram' 'lakshadweep' 'apo']

In [273]:
# checking the number of the unique values in the state and city columns
print('the number of the states:', df['ship_state'].nunique())
print('the number of the cities:', df['ship_city'].nunique())

the number of the states: 47
the number of the cities: 7297

In [274]:
# checking the unique values in the currency column
df['currency'].unique()

array(['INR', nan], dtype=object)

In [275]:
# 08 - the currency should be INR since this data from india and also i did not found any other currency
df['currency'].fillna('INR', inplace=True)

C:\Users\Seif.Ashraf.DEV02\AppData\Local\Temp\ipykernel_8924\1528635270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['currency'].fillna('INR', inplace=True)

In [276]:
# Re-checking the unique values in the currency column
df['currency'].unique()

array(['INR'], dtype=object)

In [277]:
# 09 - Replace missing promotion-ids with 'No Promotion'
df['promotion_ids'] = df['promotion_ids'].fillna('No Promotion')

In [278]:
# 10 - Fill 'Courier Status' with 'Cancelled' when Status is 'Cancelled'
df.loc[df['status'] == 'Cancelled', 'courier_status'] = 'Cancelled'

In [279]:
#### 11 - handel the Null Amount Values based on style's median unit price and quantity

# Calculate median unit price per style where amount and quantity are valid
mask_valid = (df['amount'] > 0) & (df['Quantity'] > 0)
df['unit_price'] = df['amount'] / df['Quantity']

# Calculate median unit price per style
median_unit_prices = df[mask_valid].groupby('style')['unit_price'].median()

# Fill missing amounts based on style's median unit price and quantity
for style in df['style'].unique():
    style_mask = (df['style'] == style) & (df['amount'].isna())
    if style in median_unit_prices:
        df.loc[style_mask, 'amount'] = df.loc[style_mask, 'Quantity'] * median_unit_prices[style]

# For any remaining null amounts, use the overall median unit price
overall_median_unit_price = df[mask_valid]['unit_price'].median()
remaining_null_mask = df['amount'].isna()
df.loc[remaining_null_mask, 'amount'] = df.loc[remaining_null_mask, 'Quantity'] * overall_median_unit_price

# Clean up the temporary unit_price column
df = df.drop('unit_price', axis=1)

# Verify the results
print('Number of null values in amount column:', df['amount'].isna().sum())

Number of null values in amount column: 0

In [280]:
df.duplicated().sum()

np.int64(0)

In [281]:
df.isna().sum()

order_id               0
date                   0
status                 0
fulfilment             0
sales_channel          0
ship_service_level     0
style                  0
sku                    0
category               0
size                   0
asin                   0
courier_status        11
Quantity               0
currency               0
amount                 0
ship_city              0
ship_state             0
ship_postal_code       0
ship_country           0
promotion_ids          0
b2b                    0
dtype: int64

In [ ]:
df['courier_status'].fillna('Unknown', inplace=True)

In [283]:
df.isna().sum()

order_id               0
date                   0
status                 0
fulfilment             0
sales_channel          0
ship_service_level     0
style                  0
sku                    0
category               0
size                   0
asin                   0
courier_status        11
Quantity               0
currency               0
amount                 0
ship_city              0
ship_state             0
ship_postal_code       0
ship_country           0
promotion_ids          0
b2b                    0
dtype: int64